* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  word-spacing: 0.15em;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/UiA1t25.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
}

.container {
  text-align: center;
  padding: 20px 20px 10px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.inserir-jogador {
  margin: 0 auto 2em;
}

.inserir-jogador label {
  font-weight: bold;
}

.inserir-jogador input,
.inserir-jogador label {
  display: block;
  margin: 0.6em auto;
}

.inserir-jogador input {
  width: 25%;
  padding: 0.5em 0.2em;
}

.botao-inserir-jogador {
  font-size: 1.1em;
  padding: 0.7em 1.4em;
  margin: 1em 0 0;
  border: none;
  background-color: rgb(218, 30, 38);
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

.botao-inserir-jogador:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.container svg {
  height: 200px;
  fill: #ffffff;
}

#logo-jordan {
  float: left;
  margin-left: 5%;
}

#logo-nike {
  float: right;
  margin-right: 5%;
}

#container-todos-jogadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-jogador {
  max-width: 25%;
  display: inline;
  margin:0 1em 3em;
  position: relative;
}

.container-jogador img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.container-jogador:hover img {
  transition: 0.3s;
  filter: brightness(0.3);
}

.container-jogador p {
  max-width: 180px;
  font-size: 1.25em;
}

.ver-highlights {
  position: relative;
  bottom: calc(50% + 11.5px);
  visibility: hidden;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.7em;
  background-color: rgba(233, 211, 211, 0.4);
}

.ver-highlights a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9em;
}

.container-jogador:hover .ver-highlights {
  transition: 2s;
  visibility: visible;
}

.dica-remover {
  visibility: hidden;
}

.botao-remover, .dica-remover {
  position: absolute;
  bottom: calc(100% - 22px);
  right: calc(0% + 1px);
  background-color: rgb(218, 30, 38);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.botao-remover:hover ~ .dica-remover {
  visibility: visible;
}